# Package Files #
*.jar
*.war
*.nar
*.ear
*.tar.gz
*.rar

# Compiled class file

*.class

# Log file
*.log

### Gradle Files ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/
/target/
/logs统计.xlsx
/report.txt
/support/target/classes/application.properties
/support/target/classes/webdriver/chromedriver_win32.zip
/support/target/classes/config/webmagic/config.ini
/support/target/classes/config/webmagic/fflogs.ini
/support/target/classes/config/ff14/hong.txt
/support/target/classes/log4j.properties
/support/target/classes/config/ff14/scriptTemplate.txt
/support/target/classes/META-INF/spring.factories
/support/target/classes/config/ff14/绝龙诗.xlsx
/lua/target/
